<!DOCTYPE html>
<!-- Following code has been commented with appropriate comments for your reference. -->
<html lang="en">
<head>
    <!-- Set the character encoding to UTF-8 -->
    <meta charset="UTF-8">
    <!-- Set the viewport for responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Link the external stylesheet for styling -->
    <link rel="stylesheet" href="./Navbar.css">
</head>
<!-- frame: Nav -->
<div class="frame nav-d3635f1c022f">
  <!-- group: Nav -->
  <div class="group nav-d3633a0d17a4">
    <!-- rect: Rectangle -->
    <div class="shape rect rectangle-d3633a0d17a5">
    </div>
    <!-- frame: Horisontal Nav -->
    <div class="frame horisontal-d3633a0d17a6">
      <!-- text: home -->
      <div class="shape text home-d3633a0d17aa">
        <div class="text-node-html" id="html-text-node-10d70911-e5ff-808b-8005-d3633a0d17aa" data-x="1730.9814355733254" data-y="1240.1517977487745">
          <div class="root rich-text root-0" style="display:flex;white-space:break-spaces;align-items:flex-start" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0" style="color:rgba(220, 225, 233, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:16px;text-rendering:geometricPrecision;caret-color:rgba(220, 225, 233, 1);text-decoration:none;--font-id:gfont-roboto;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#dce1e9&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Roboto&quot;;font-style:normal;font-weight:500">Home</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- text: appointments -->
      <div class="shape text appointmen-d3633a0d17ab">
        <div class="text-node-html" id="html-text-node-10d70911-e5ff-808b-8005-d3633a0d17ab" data-x="1815.9814359666937" data-y="1240.1517982816968">
          <div class="root rich-text root-0" style="display:flex;white-space:break-spaces;align-items:flex-start" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0" style="color:rgba(220, 225, 233, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:16px;text-rendering:geometricPrecision;caret-color:rgba(220, 225, 233, 1);text-decoration:none;--font-id:gfont-roboto;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#dce1e9&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Roboto&quot;;font-style:normal;font-weight:500">Appointments</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- text: reviews -->
      <div class="shape text reviews-d3633a0d17ac">
        <a href=
        <div class="text-node-html" id="html-text-node-10d70911-e5ff-808b-8005-d3633a0d17ac" data-x="1955.981435777059" data-y="1240.1517982340713">
          <div class="root rich-text root-0" style="display:flex;white-space:break-spaces;align-items:flex-start" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0" style="color:rgba(220, 225, 233, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:16px;text-rendering:geometricPrecision;caret-color:rgba(220, 225, 233, 1);text-decoration:none;--font-id:gfont-roboto;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#dce1e9&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Roboto&quot;;font-style:normal;font-weight:500">Reviews</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- text: Text-278 -->
      <div class="shape text text278-d3633a0d17ad">
        <div class="text-node-html" id="html-text-node-10d70911-e5ff-808b-8005-d3633a0d17ad" data-x="2048.981435242702" data-y="1240.1517979035975">
          <div class="root rich-text root-0" style="display:flex;white-space:break-spaces;align-items:flex-start" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0" style="color:rgba(220, 225, 233, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:16px;text-rendering:geometricPrecision;caret-color:rgba(220, 225, 233, 1);text-decoration:none;--font-id:gfont-roboto;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#dce1e9&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Roboto&quot;;font-style:normal;font-weight:500">Sign Up</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- frame: login -->
    <div class="frame login-d3633a0d17a7">
      <!-- text: Text -->
      <div class="shape text text-d3633a0d17ae">
        <div class="text-node-html" id="html-text-node-10d70911-e5ff-808b-8005-d3633a0d17ae" data-x="2174.481432233538" data-y="1234.6517971870596">
          <div class="root rich-text root-0" style="display:flex;white-space:break-spaces;align-items:flex-start" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0" style="color:rgba(34, 34, 34, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;font-size:16px;text-rendering:geometricPrecision;caret-color:rgba(34, 34, 34, 1);text-decoration:none;--font-id:sourcesanspro;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#222222&quot;,&quot;~:fill-color-ref-id&quot;,&quot;~uf0f3e764-8ff4-8022-8002-6218922ca87e&quot;,&quot;~:fill-color-ref-file&quot;,&quot;~u0934fdb1-9078-8011-8004-26eb961bbaeb&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;sourcesanspro&quot;;font-style:normal;font-weight:bold">Login </span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- frame: signup -->
    <div class="frame signup-d3633a0d17a8">
      <!-- text: Text -->
      <div class="shape text text-d3633a0d17af">
        <div class="text-node-html" id="html-text-node-10d70911-e5ff-808b-8005-d3633a0d17af" data-x="2068.481432233538" data-y="1235.1517971870596">
          <div class="root rich-text root-0" style="display:flex;white-space:break-spaces;align-items:flex-start" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0" style="color:rgba(34, 34, 34, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:16px;text-rendering:geometricPrecision;caret-color:rgba(34, 34, 34, 1);text-decoration:none;--font-id:sourcesanspro;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#222222&quot;,&quot;~:fill-color-ref-id&quot;,&quot;~uf0f3e764-8ff4-8022-8002-6218922ca87e&quot;,&quot;~:fill-color-ref-file&quot;,&quot;~u0934fdb1-9078-8011-8004-26eb961bbaeb&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;sourcesanspro&quot;;font-style:normal;font-weight:bold">Sign Up</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- rect: image -->
    <div class="shape rect image-e186b5bec085">
    </div>
    <!-- text: StayHealthy Inc. -->
    <div class="shape text stay-health-d3633a0d17a9">
      <div class="text-node-html" id="html-text-node-10d70911-e5ff-808b-8005-d3633a0d17a9" data-x="1025.981432233538" data-y="1220.1517971870596">
        <div class="root rich-text root-0" style="display:flex;white-space:break-spaces;align-items:flex-start" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0" style="color:rgba(220, 225, 233, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;font-size:48px;text-rendering:geometricPrecision;caret-color:rgba(220, 225, 233, 1);text-decoration:none;--font-id:sourcesanspro;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#dce1e9&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;sourcesanspro&quot;;font-style:normal;font-weight:400">StayHealthy Inc.</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>